#logo img{
    padding: 10px;
    width: 300px;
    height: 150px;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background: var(--bg);
    box-shadow: 1px 1px 5px #565705;
}